<div class="top">
  <div class="container">
    <div class="swiper">
      <div class="swiper-container gallery-top">
        <div class="swiper-wrapper">
          <div *ngFor="let data of product.imageSilders" class="swiper-slide">
            <img [src]="data" alt="#">
          </div>
        </div>
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
      </div>
      <div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper">
          <div *ngFor="let data of product.imageSilders" class="swiper-slide">
            <img [src]="data" alt="#">
          </div>
        </div>
      </div>
    </div>

    <div class="detail">
      <h1>{{product.productName}}</h1>
      <span class="description">{{product.description}}</span>
      <span class="brand">{{product.brand}}</span>
      <div class="price">
        <span>建議售價:</span>
        <span [innerText]="'NT$'+product.price"></span>
      </div>
      <span class="productNo" [innerText]="'商品編號: ' + product.productNo"></span>
      <span class="productStock" [innerText]="'庫存: ' + product.stock"></span>
      <div class="btn">
        <div class="btnQuantity">
          <button id="reduce" (click)="reduceQuantity($event)">-</button>
          <input type="text" [value]="quantity" (change)="show($event)">
          <button id="add" (click)="addQuantity($event)">+</button>
        </div>
        <button id="btnBuy" (click)="buy()">立即購買</button>
      </div>
      <span  class="favorite" (click)=addFavorite()><i class="fas fa-heart"></i>加入最愛</span>
      <span  class="addCart" (click)="addCart()"><i class="fas fa-shopping-cart"></i>加入購物車</span>
    </div>
  </div>
</div>


<div class="about">
  <div class="container">
    <h2>相關產品</h2>
    <div class="swiper-container" id="swiper-about">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let data of aboutProducts">
          <div>
            <a [href]="'/product/'+data.productNo"><img [src]="data.imageUrl" alt="#"></a>
            <span [innerText]="data.productName"></span>
            <span [innerText]="'NT$'+data.price" class="aboutPrice"></span>
            <button (click)="addOtherCart(data.productID)"><i class="fas fa-shopping-cart"></i>加入購物車</button>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>

