<div class="container">
  <div class="accountInfo">
    <div class="name">
      <h1>{{ name }}</h1>
      <a class="accountEdit" [routerLink]="['/myAccount/editAccount']"
        >更新個人資訊</a
      >
    </div>
    <div class="shoppingInfo">
      <div class="shopping">
        <div class="totalSpent shopItem">
          <span>累積消費金額</span><span class="value">NT$0</span>
        </div>
        <div class="bonus shopItem">
          <span>可用紅利點數</span><span class="value">0</span><span>點</span>
        </div>
        <div class="coupons shopItem">
          <span>專屬折價券</span><span class="value">0</span><span>張</span>
        </div>
      </div>
      <div class="btnList">
        <a [routerLink]="['/myAccount/orderSearch']" class="btn bright"
          >查詢訂單</a
        >
        <a [routerLink]="['/myAccount/editPassword']"class="btn"
          >修改密碼</a
        >
        <a class="btn" (click)="signOut()">會員登出</a>
      </div>
    </div>
  </div>
</div>
