<header>
  <div class="container">
    <ul class="top-menu">
      <li><a href="/index"><img src="../assets/images/logo.png" id="logo"></a></li>
      <li *ngFor="let item of headerCategories"><a [routerLink]="['/collection',item.routeName]">{{item.categoryName}}</a></li>
      <li><a href="/account" class="icon"><i class="fas fa-user"></i></a></li>
      <li><a href="/login" class="icon cart-count"><i class="fas fa-shopping-cart"></i></a></li>
      <li><a href="#" class="icon"><i class="fas fa-search"></i></a></li>
    </ul>
  </div>
</header>
<div>
 <router-outlet></router-outlet>
</div>

<footer>
  <div class="container">
    <div class="footer-blocks">
      <div class="footer-block">
        <hr>
        <h4>關於我們</h4>
        <ul>
          <li><i class="fas fa-phone-alt footer-icon"></i>02-02020202</li>
          <li><i class="fas fa-envelope footer-icon"></i>test@gmail.com</li>
          <li><i class="far fa-clock footer-icon"></i>10:00-17:30(週一至週五)</li>
        </ul>
      </div>
      <div class="footer-block">
        <hr>
        <h4>自助服務</h4>
        <ul>
          <li><a href="#">訂單進度</a></li>
          <li><a href="#">Q&A</a></li>
          <li><a href="#">保固及服務</a></li>
          <li><a href="#">會員優惠及方案</a></li>
          <li><a href="#">充電研究室</a></li>
        </ul>
      </div>
      <div class="footer-block">
        <hr>
        <h4>企業服務</h4>
        <ul>
          <li><a href="#">關於innfact</a></li>
          <li><a href="#">企業團購</a></li>
          <li><a href="#">經銷代理</a></li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <span>Copyright © Test </span>
      <a href="#"><i class="fab fa-facebook-square"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-line"></i></a>
    </div>
  </div>
</footer>

<!-- [href]="'/collection/'+item.routeName" -->