<div class="form">
  <label for="name"
    >姓名<input type="text" placeholder="請輸入帳戶姓名" id="name"
  /></label>
  <label for="phone"
    >手機號碼<input type="text" placeholder="請輸入手機號碼" id="phone"
  /></label>
  <label for="email"
    >電子郵件<input type="text" placeholder="Example@gmail.com" id="email"
  /></label>
  <label for="birth">出生日期<input type="date" id="birth" /></label>
  <div class="genderSet">
    性別
    <div class="genderOption">
      <div class="male">
        <div class="checkable"></div>
        男
      </div>
      <div class="female">
        <div class="checkable"></div>
        女
      </div>
    </div>
  </div>
  <div class="newsSet">
    電子報
    <div class="newsOption">
      <div class="yes">
        <div class="checkable"></div>
        訂閱
      </div>
      <div class="yes">
        <div class="checkable"></div>
        不訂閱
      </div>
    </div>
  </div>
  <div class="btnList">
    <div class="btn resetBtn">
      重新填寫
    </div>
    <div class="btn submitBtn">
      確定修改
    </div>
  </div>
</div>
