<form class="editForm" [formGroup]="editForm">
  <div class="formControl">
    <span>目前的密碼</span>
    <input
      type="password"
      placeholder="請輸入舊密碼"
      formControlName="oldPassword"
      autocomplete="current-password"
    />
  </div>
  <div class="formControl">
    <span>新密碼</span>
    <input
      type="password"
      placeholder="請輸入新密碼"
      formControlName="newPassword"
      autocomplete="current-password"
    />
  </div>
  <div class="formControl">
    <span>新密碼確認</span>
    <input
      type="password"
      placeholder="請再次輸入新密碼"
      formControlName="newPassword2"
      autocomplete="current-password"
    />
  </div>
  <div class="formControl btn">
    <button (click)="updatePassword()" [disabled]="!editForm.valid">確認修改</button>
  </div>
</form>
